XML_Project/PARKAR/Parkar_A/fandango.dtd

<!ELEMENT movies (theater+)>
<!ELEMENT theater (movie+)>
<!ATTLIST theater name CDATA #REQUIRED>

<!ELEMENT movie (genre, duration, showtimes, seating, image)>
<!ATTLIST movie title CDATA #REQUIRED rating CDATA #IMPLIED>

<!ELEMENT genre (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT showtimes (showtime+)>
<!ELEMENT showtime (#PCDATA)>
<!ELEMENT seating (#PCDATA)>
<!ELEMENT image (#PCDATA)>
